.fakeLink {
    text-color: blue;
    text-decoration: underline;
    font-size: 20px;
    color: blue;
}
.fakeLink:hover {
    color: purple;
}

body {
    background-color: #e8e8e8;
    text-align: center;
    text-color: #373737;
    margin-left: 0px;
    margin-top: 0px;
}

h1 {
    -webkit-margin-before: 0em;
}

.top {
    -webkit-margin-before: 0em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #dcd0c0;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 0px;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
}

.topLink {
    padding: 8px; 16px;
}

li a.active {
    background-color: #C0B283;
    color: white;
    font-weight: bold;
}

li a:hover:not(.active) {
    background-color: #373737;
    color: white;
    font-weight: bold;
}

/*tr:nth-child(even){background-color: #dcd0c0}
tr:nth-child(odd){background-color: white}*/

th {
    background-color: #dcd0c0;
}

table {
    border-collapse: collapse;
    width: 50%;
    text-align: left;
    background-color: white;
}

th, td {
    border-bottom: 1px solid #C0B283;
    padding: 12px;
}

img {
    border-radius: 15px;
    border: 2px solid;
}

.compareButton {
    background-color: green;
    border-radius: 15px;
    border: 2px solid;
    width: 560px;
    height: 80px;
    vertical-align: middle;
}

.compareText {
    color: white;
    vertical-align: middle;
    line-height: 80px;
}

.compareButton:hover {
    cursor: pointer;
    background-color: #57ff6a;
}

.compareText:hover {
    color: black;
}

#loading {
    border-radius: 50%;
    height: 170px;
    width: 170px;
    -webkit-animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    top: 30%;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
